<body>
	<!--hero image-->
	<div class="Basic-Text-Frame">
		<div class="Basic-Paragraph para-style-override-1" id='heroImage'>
			<p>MVP Credentials</p>
		</div>
	</div>
	<!-- make login html -->
	<div id="loginForm" class="container">
		<br/>
		<form class="loginForm" action="/login_test" method="post">
			<input name="user" placeholder="user" class="customInput" type="text">
			<br/>
			<input name="pass" placeholder="password" class="customInput" type="password">
			<br/>
			<button class="customButton" type="submit"><a>Login</a></button>
	</div>