<body>
	<!-- customfrontpage css -->
	<link rel="stylesheet" type="text/css" href="../css/customfrontpage.css">
	<div class="centered hero">
		<div class="verticalcenter">
			<h1>smop<m>.</m></h1>
			<p>a minimal, web-based, task-focused software development engagements manager</p>
		</div>
	</div>
	<div class="notHeroD">
		<div style="overflow:auto;">
			<div class="notCentered" id="L">
				<div>
					<h2>software "<b><bl>coders</bl></b>"</h2>
					<p>smop. puts the exact tasks you want to see right at your fingertips</p>
				</div>
			</div>
			<div class="notCentered" id="R">
				<div>
					<h2>software "<b><gr>owners</gr></b>"</h2>
					<p>smop. takes the work out of hiring developers for your occasional (or otherwise) coding needs</p>
				</div>
			</div>
		</div>
	</div>
	<div class="notHeroL">
		<div style="overflow:auto">
			<div class="notCentered" id="L">
				<div>
					<h2>how?</h2>
					<p>for us, it's a complex network of backend microservers running asynchronously, but for you, it's just a <b>simple matter of programming.</b></p>
				</div>
			</div>
			<div class="notCentered" id="R">
				<div>
					<h2>the deal.</h2>
					<p>say you are a proud software company <b><gr>owner</gr></b> who's had that one story in the icebox for a little too long, or maybe you have to just get those last few tasks done in time for the coming retrospective, smop. is a platform where you can outsource that user story, or as we call it, the "task", to the best candidate. every time.</p>
					<br/>
					<p>say you are a <b><bl>coder</bl></b> and you're too busy to deal with a full-time boss or you want some quick cash, all you do is make a free account and smop. will put together a list of tasks you can try your hand at winning.</p>
					<br/>
					<br/>
					<p>oh, and only the first person to finish the task (successfully) gets paid. <b>glhf</b>.</p>
				</div>
			</div>
		</div>
	</div>