<body>
	<!--hero image-->
	<div class="Basic-Text-Frame">
		<div class="Basic-Paragraph para-style-override-1" id='heroImage'>
			</p>
		</div>
	</div>
	<!-- make login html -->
	<div class='container' id='loginContainer'> <a class="loginButtonFont" href="#" onclick="openLogin()">Login</a> </div>
	<div id="loginForm" class="container">
		<br/>
		<form action="/login" method="post">
			<input name="user" placeholder="user" class="customInput" type="text">
			<br/>
			<input name="pass" placeholder="password" class="customInput" type="password">
			<button type="submit">Login</button> <a href="#">Forgot password?</a> </div>
	</div>
	<div id="logInOut" class="fixme"></div>
	<!-- load js -->
	<script src="javascripts/login.js"></script>
</body>

</html>