<body>
	<!--hero image-->
	<div class="Basic-Text-Frame">
		<div class="Basic-Paragraph para-style-override-1" id='heroImage'>
			</p>
		</div>
	</div>
	<!-- make login html -->
	<div class='containerCustom' id='loginContainer'> <a id="loginButton" class="loginButtonFont" onclick="openLogin()" href="#">Login</a> </div>
	<div id="loginForm" class="container">
		<br/>
		<form class="loginForm" action="/login" method="post">
			<input name="user" placeholder="user" class="customInput" type="text">
			<br/>
			<input name="pass" placeholder="password" class="customInput" type="password">
			<br/>
			<button class="customButton" type="submit"><a>Login</a></button>
			<br/> <a href="#">Forgot password?</a> </div>
	</div>
	<div id="newUserForm" class='loginForm' action="/createUser" method='post'>
		<input name="user" placeholder="user" class="customInput" type="text">
		<br/>
		<input id='pass' name="pass" placeholder="password" class="customInput" type="password">
		<br/>
		<input id='passCheck' name="passCheck" placeholder="re-enter password" class="customInput" type="password">
		<br/>
		<p id="passwordError" style="color:red;">passwords don't match.</p>
		<br/>
		<button class="customButton" type="submit"><a>Submit</a></button>
	</div>
	<br/><a id='newUserButton' class="loginButtonFont" href='#' style="font-size:12pt;" onclick="openNewUser()">New User?</a>
	<!-- load js -->
	<script src="javascripts/login.js"></script>
</body>

</html>